//- - var email = #[boristofu]@gmail.com

section.contact#contact
  .contact-sections
    .social
      h3.social__title If you're interested to hire or chat about code - contact me!
      a(href="mailto:boristofu@gmail.com")
        h3.social__email #[span boristofu]@gmail.com 
      .social__icons
        a(href="https://github.com/borispov")
          i.fab.fa-github
        a(href="https://https://www.facebook.com/povolotsky") 
          i.fab.fa-facebook
        a(href="https://www.linkedin.com/in/boris-povolotsky/") 
          i.fab.fa-linkedin
    .general
      h1.general__name Boris Povolotsky
      .flex-mobile
        h2.general__occ Front End
        h4.general__location Based in Israel