include ../components/nav.pug

.main#home
  .ui.container
    .personal
      .personal-info
        span.tags #{'<'}
        h1.personal-info__greeting.-semibold Hi !
        span.tags /
        span.tags #{'>'}

        .personal-info__n
          span.n__main.-heavy I'M
          .n__name
            span.n__lineone.-heavy Boris
            span.n__linetwo.-heavy Povolotsky
        h3.personal-info__occ.-semibold Front End Developer / Social Worker
      p.personal-info__bg.-ita Looking for my first dev job, while exploring, experimenting and
                              |  mostly having fun building stuff. I currently work as a Social Worker 
                              | until I land a satisfying job in the industry. 
      
      .personal-img
        .personal-img__photo.-circ

  //- Disable the sidebar for now, doesn't feel relevant at all
  include ../components/down.pug
//- include ../components/sidebar.pug
