section.project-section#portfolio2
  .ui.container
    h1.title.-heavy.-ita More Projects
    .containerflex
      .projects
        .project
          a(href="https://github.com/borispov/phone-fmt").project__link
            h3.project__title “ phone-fmt “ 
          p.project__para NPM Package - validate & format israeli numbers
        .project
          a(href="https://github.com/borispov/weather-app").project__link
            h3.project__title “ Weather App "
          p.project__para 5 days forecast based on location & search option.
          
        .project
          a(href="https://github.com/borispov/Tomatoro-pomadoro").project__link
            h3.project__title “ Tomatoro Pomadoro "
          p.project__para Pomodoro Clock, built for React practice.
      
      .link-github
        h2.link-github__text For further work,
        h2.link-github__text Check me out 
        .link-github__link
          a(href="https://github.com/borispov") 
              i.fab.fa-github
          a(href="https://github.com/borispov").-heavy.-ita GitHub
      








//- p.project__para Phone formatter is a NPM package which allows the user to format a given phone number, return it with spacing according to international convention. Currently format israeli numbers only.

//- p.project__para Five days weather forecast based on location with search query option. Takes advantage of google's geolocation, isn't implemented for mobile devices though. Makes use of Weatherbit.io free API. The app was built with Reactjs.
      

//- p.project__para A simple Pomodoro Clock app with React implementation. Was built quite fast for practice purposes only.