section.portfolio
  .frame
    h2.portfolio__title My Latest Works
    .cards
      .card
        h4.card__title Linda Bistro
        .card__thumbnail
          .card__icons 
            i.fab.fa-js-square.fa-2x
            i.fab.fa-react.fa-2x
            i.fab.fa-sass.fa-2x

          p.card__description Static website made for a local bistro in my town, basic features with beautiful design that reflects the place atmosphere and personality.
        .btns  
          button(type="submit").card__btn Demo
          button(type="submit").card__btn Code

      .card
        h4.card__title Typing Game
        .card__thumbnail
          .card__icons
            i.fab.fa-react.fa-2x
            i.fab.fa-sass.fa-2x
          p.card__description A typing game made with common score calculation. Did not implement for MOBILE usage. This project enhanced my React skills, practiced managing state without Redux. 
        .btns
          button(type="submit").card__btn Demo
          button(type="submit").card__btn Code
  include ../components/down
