include ../components/card.pug

//- Linda bistro information
- var lindaDescription = 'Static website made for a local bistro in my town, basic features with beautiful design that reflects the place atmosphere and personality.'
- var lindaDemoUrl = 'https://linda-bistro.herokuapp.com'
- var lindaGitHub = 'https://github.com/borispov/linda-bistro'

//- Typing game information
- var typDescription = 'A typing game made with common score calculation. Did not implement for MOBILE usage. This project enhanced my React skills, practiced managing state without Redux.'
- var typDemo = 'https://speedtyping-game.herokuapp.com'
- var typGitHub = 'https://github.com/borispov/typing-game'

//- Baristagram Information
- var baristaDesc = 'Full Stack Application. An Instagram Clone. React/Redux with focus on auth, upload and DB.'
- var baristaDemo = 'https://github.com/borispov/baristagram'
- var baristaGitHub = 'https://github.com/borispov/baristagram'

//- Personal Website - Portfolio 
- var persDesc = 'My Personal Website. Built purely with CSS Preprocessor (SASS) and PUG for HTML Templating. Developed and built with Gulp workflow. Sketching explored through Adobe XD.'

section.portfolio#portfolio
  .frame
    h2.portfolio__title Portfolio
    .cards
      +card('Linda', lindaDescription, lindaDemoUrl, lindaGitHub, './assets/img/linda.png', 'fit')
        i.fab.fa-js-square.fa-2x
        i.fab.fa-react.fa-2x
        i.fab.fa-sass.fa-2x

      +card('Typing Game', typDescription, typDemo, typGitHub, './assets/img/typing.jpg')
        i.fab.fa-react.fa-2x
        i.fab.fa-sass.fa-2x

      +card('Baristagram', baristaDesc, baristaDemo, baristaGitHub, './assets/img/barista.jpg')
        i.fab.fa-react.fa-2x
        i.icon-database.iconz
        i.fab.fa-node.fa-2x

      +card('Personal Website', persDesc, persDemo, persGitHub, './assets/img/portfo-thumb.jpg', 'fit')
        .fab.fa-sass.fa-2x
        .fab.fa-gulp.fa-2x
        .fab.fa-html5.fa-2x
        .fab.fa-css3.fa-2x
          
  include ../components/down
