html {
  box-sizing: border-box;
  font-size: 16px;
  line-height: 1.4; }

* {
  margin: 0;
  padding: 0; }

*,
*:before,
*:after {
  box-sizing: inherit; }

object,
iframe,
video,
embed {
  max-width: 100%; }

img {
  max-width: 100%;
  height: auto; }

h1, h2, h3, h4, h5, h6 {
  font-family: 'Montserrat', sans-serif; }

h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote {
  margin: 0;
  padding: 0; }

input,
textarea,
button {
  border: 0;
  border-radius: 0;
  outline: 0;
  appearance: none; }

button {
  border-radius: 2px;
  padding: 0.25em 1em;
  font-size: 1em;
  font-weight: 600; }

.card__btn {
  border-radius: 2px;
  padding: 0.25em 1em;
  font-size: 1em;
  font-weight: 600; }
  .card__btn:hover, .card__btn:active, .card__btn:focus {
    outline: none; }

p {
  font-family: 'Roboto', sans-serif; }

ol, ul {
  list-style: none; }

a {
  text-decoration: none; }

h1 {
  font-size: 2.5em;
  line-height: 1.25; }

h2 {
  font-size: 1.625em;
  line-height: 1.15384615; }

h3 {
  font-size: 1.375em;
  line-height: 1.13636364; }

h4 {
  font-size: 1.125em;
  line-height: 1.11111111; }

blockquote {
  font-size: 1.25em;
  line-height: 1.25; }

p {
  font-size: 1.25em; }

@media (min-width: 43.75em) {
  h1 {
    font-size: 2.5em;
    line-height: 1.125; }
  h2 {
    font-size: 2em;
    line-height: 1.25; }
  h3 {
    font-size: 1.5em;
    line-height: 1.25; }
  h4 {
    line-height: 1.22222222; }
  blockquote {
    font-size: 1.5em;
    line-height: 1.45833333; }
  p {
    font-size: 1em;
    line-height: 1.45; } }

@media (min-width: 56.25em) {
  h1 {
    font-size: 3em;
    line-height: 1.05; }
  h2 {
    font-size: 2.25em;
    line-height: 1.25; }
  h3 {
    font-size: 1.75em;
    line-height: 1.25; } }

html {
  font-size: 12px; }

@media (min-width: 376px) {
  html {
    font-size: 14px; } }

@media (min-width: 426px) {
  html {
    font-size: 16px; } }

@media (min-width: 769px) {
  html {
    font-size: 18px; } }

@media (min-width: 1440px) {
  html {
    font-size: 20px; } }

.wrapper {
  position: relative;
  max-width: 1127px; }

.hidden {
  opacity: 0 !important; }

.fade-in {
  animation: 4s fade-in-element !important; }

.card {
  animation: fade-in-element; }
  .card:nth-child(1) {
    animation-delay: 0.05s; }

.card {
  animation: fade-in-element; }
  .card:nth-child(2) {
    animation-delay: 0.1s; }

.card {
  animation: fade-in-element; }
  .card:nth-child(3) {
    animation-delay: 0.15s; }

.card {
  animation: fade-in-element; }
  .card:nth-child(4) {
    animation-delay: 0.2s; }

.card {
  animation: fade-in-element; }
  .card:nth-child(5) {
    animation-delay: 0.25s; }

.card {
  animation: fade-in-element; }
  .card:nth-child(6) {
    animation-delay: 0.3s; }

.card {
  animation: fade-in-element; }
  .card:nth-child(7) {
    animation-delay: 0.35s; }

.card {
  animation: fade-in-element; }
  .card:nth-child(8) {
    animation-delay: 0.4s; }

.card {
  animation: fade-in-element; }
  .card:nth-child(9) {
    animation-delay: 0.45s; }

.card {
  animation: fade-in-element; }
  .card:nth-child(10) {
    animation-delay: 0.5s; }

.card {
  animation: fade-in-element; }
  .card:nth-child(11) {
    animation-delay: 0.55s; }

@keyframes fade-in-element {
  from {
    opacity: 0;
    transform: scale(0.7, 0.7); }
  to {
    opacity: 1; } }

.-ita {
  font-style: italic !important; }

.-circ {
  border-radius: 50%; }

.-light {
  font-weight: 300 !important; }

.-reg {
  font-weight: 400 !important; }

.-bold {
  font-weight: 700 !important; }

.-semibold {
  font-weight: 600 !important; }

.-heavy {
  font-weight: 900 !important; }

.-abs {
  position: absolute; }

.whitenav {
  color: #FFFDFA !important;
  font-weight: 700 !important; }
  .whitenav:before {
    background-image: linear-gradient(to top, #354A57 25%, transparent 40%); }

.rednav {
  color: black !important;
  font-weight: 700 !important; }
  .rednav:before {
    background-image: linear-gradient(to top, #B94947 25%, transparent 40%); }

.main {
  position: relative;
  display: flex;
  min-height: 100vh;
  background-color: #CC443D;
  background-color: rgba(130, 59, 23, 0.72);
  padding-top: 22vh;
  justify-content: center;
  padding-bottom: 22vh; }

.personal {
  display: flex;
  flex-flow: row wrap;
  flex: 0 1 auto;
  padding-left: calc(100vw * 0.15);
  padding-right: calc(100vw * 0.15);
  justify-content: space-between; }
  .personal .personal-info {
    order: 1;
    max-width: 970px;
    display: flex;
    flex-flow: column wrap;
    flex-basis: 15em; }
    .personal .personal-info__greeting {
      color: #ffffff;
      font-size: 58px;
      padding-bottom: 50px;
      line-height: 1; }
    .personal .personal-info__name {
      color: #354A57;
      text-decoration-line: underline;
      line-height: 1.5; }
    .personal .personal-info__occ {
      color: #FFFDFA;
      line-height: 1.35; }
  .personal .personal-info__bg {
    flex-basis: 70%;
    flex-shrink: 1;
    order: 3;
    max-width: 70%;
    color: #fff1db;
    font-size: 1.38em; }
  .personal .personal-img {
    animation: fade-in-element 0.4s;
    order: 2;
    flex-shrink: 0;
    flex-basis: 10em; }
    .personal .personal-img__photo {
      width: 300px;
      height: 300px;
      background: url("../../assets/img/profile.png") no-repeat;
      background-position: -5px -150px;
      background-position: center;
      background-size: cover;
      margin-top: 0px;
      box-shadow: 0 3px 6px 2px rgba(0, 0, 0, 0.16);
      opacity: 0.62;
      filter: alpha(opacity=62);
      max-width: 100%; }

@media (max-width: 780px) {
  .main {
    padding: 0;
    padding-top: 22vh;
    padding-bottom: 12vh;
    display: block;
    text-align: center; }
    .main .personal {
      display: block;
      padding-left: calc(100vw * 0.04);
      padding-right: calc(100vw * 0.04); }
      .main .personal .personal-info__occ {
        padding-top: 7px; }
      .main .personal .personal-info__bg {
        padding-top: 12px; }
      .main .personal * {
        margin-left: auto;
        margin-right: auto; }
      .main .personal .personal-img__photo {
        max-width: 80%;
        margin-top: 51px; } }

@media (min-width: 781px) {
  .personal {
    padding-left: calc(100vw * 0.05);
    padding-right: calc(100vw * 0.05); } }

.frame {
  margin-left: 150px;
  margin-right: 150px;
  padding: 4em 5em;
  background-color: #253540;
  background: url("../assets/img/pat.svg"); }
  @media (max-width: 1200px) {
    .frame {
      margin-left: calc(100vw * 0.05);
      margin-right: calc(100vw * 0.05); } }

.portfolio {
  position: relative;
  padding-top: 15vh;
  padding-bottom: 15vh;
  background: linear-gradient(to bottom, #253540 40%, #354A57 90%);
  min-height: 100vh; }
  .portfolio__title {
    font-size: 2rem;
    color: #FFFDFA;
    text-align: center;
    padding-bottom: 50px; }

.cards {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly; }
  .cards .card {
    position: relative;
    margin-top: 20px;
    display: flex;
    flex-flow: column nowrap;
    justify-content: space-between;
    background-position: center 2px !important;
    background-repeat: no-repeat !important;
    background-size: cover !important;
    box-shadow: 0 3px 6px 6px rgba(20, 20, 20, 0.08);
    max-width: 300px;
    height: 350px;
    border-radius: 4px; }
    .cards .card:hover {
      border-radius: 8px; }
      .cards .card:hover:after {
        border-radius: 8px;
        opacity: 0.8;
        filter: blur(1px); }
    .cards .card:after {
      transition: all 0.2s ease-in-out;
      content: '';
      position: absolute;
      background: #5912a1;
      background: #141419;
      opacity: 0.2;
      left: 0;
      right: 0;
      top: 0;
      bottom: 0;
      z-index: -1; }
    .cards .card .card__content {
      padding: 1em 2em;
      height: 100%;
      width: 100%;
      opacity: 0; }
      .cards .card .card__content:hover {
        opacity: 1; }
    .cards .card .card__icons {
      text-align: center;
      color: #CC443D;
      color: #ffffff; }
      .cards .card .card__icons .iconz {
        font-size: 2em; }
      .cards .card .card__icons * {
        margin: 0 15px 10px; }
    .cards .card .card__title {
      padding-top: 1em;
      padding-bottom: 1em;
      color: #ffffff;
      text-align: center; }
    .cards .card .card__description {
      font-size: 0.9em;
      color: #D0CCC6;
      height: 150px; }
    .cards .card .card__btn {
      background: #B94947;
      color: #FFFDFA;
      text-transform: uppercase;
      font-size: 0.9em;
      font-family: 'Montserrat'; }
      .cards .card .card__btn:hover {
        background: #354A57; }
    .cards .card .btns {
      display: flex;
      justify-content: space-between; }
    .cards .card:hover {
      box-shadow: 0 6px 16px 19px rgba(20, 20, 20, 0.2) 0 1px 0 6px rgba(0, 0, 0, 0.16);
      transform: translateY(-4px); }

@media (max-width: 780px) {
  .portfolio {
    padding-top: 0;
    padding-bottom: 0; }
    .portfolio .card {
      background: #14191e; }
  .frame {
    margin-left: 0;
    margin-right: 0; } }

.project-section {
  background: #d8d8d6;
  padding-top: 15vh;
  min-height: 100vh; }
  .project-section .title {
    text-align: center; }
  .project-section .containerflex {
    display: flex;
    margin: 4em auto 0;
    width: calc(100% - 15em);
    justify-content: space-between; }
  .project-section .projects {
    display: flex;
    flex-flow: column wrap;
    margin: 4em auto; }
  .project-section .project {
    margin: 1em 0;
    max-width: 420px; }
    .project-section .project .project__link {
      color: #CC443D; }
    .project-section .project .project__title {
      text-shadow: 0 2px 4px rgba(20, 20, 20, 0.08);
      text-decoration: underline; }
    .project-section .project .project__para {
      padding-top: 7px;
      padding-bottom: 14px;
      color: #354A57;
      max-width: 420px;
      text-shadow: 0 1px 2px rgba(0, 0, 0, 0.2); }
  .project-section .link-github {
    font-family: 'Montserrat';
    margin-top: 5em;
    color: #354A57;
    font-style: italic;
    max-width: 420px; }
    .project-section .link-github__link {
      padding-top: 3px;
      font-size: 2.2em;
      color: #354A57; }
      .project-section .link-github__link i {
        font-size: 1.15em;
        color: #CC443D;
        padding-right: 12px; }

@media (max-width: 768px) {
  .containerflex {
    display: flex;
    width: 100%;
    max-width: 100%;
    flex-direction: column; }
  .project {
    width: auto;
    max-width: auto; }
  .projects {
    display: block;
    text-align: center;
    width: auto;
    max-width: auto; }
    .projects .project__para {
      width: auto;
      max-width: auto; } }

@media (min-width: 769px) {
  .containerflex {
    display: block; }
  .projects {
    display: block; } }

@media (min-width: 1025px) {
  .projects {
    width: calc(100% - 20em); } }

@media (max-width: 768px) {
  .containerflex {
    display: block;
    margin: 0 auto;
    width: 100% !important; }
    .containerflex .projects {
      display: block;
      margin: 0 auto; }
    .containerflex .link-github {
      text-align: center;
      display: block;
      margin: 1em auto 2em; } }

.contact {
  background: linear-gradient(to bottom, #253540, #354A57);
  min-height: 60vh; }
  .contact .contact-sections {
    display: flex;
    flex-flow: row-reverse;
    justify-content: center;
    padding-top: 25vh; }
    .contact .contact-sections .general {
      flex-basis: 500px;
      margin: 0 40px;
      width: calc(100% - 5em);
      text-align: right; }
      .contact .contact-sections .general .general__name {
        color: #ffffff;
        margin: 0 0 51px 0;
        text-shadow: 0 3px 6px rgba(20, 20, 20, 0.2); }
      .contact .contact-sections .general .general__occ {
        color: #D0CCC6;
        margin: 0 0 81px 0;
        text-shadow: 0 3px 6px rgba(20, 20, 20, 0.2); }
      .contact .contact-sections .general .general__location {
        color: #D0CCC6;
        text-shadow: 0 3px 6px rgba(20, 20, 20, 0.2); }
    .contact .contact-sections .social {
      flex-basis: 500px;
      margin: 0 40px;
      width: calc(100% - 5em); }
      .contact .contact-sections .social .social__title {
        color: #C7D5DD;
        padding-bottom: 31px; }
      .contact .contact-sections .social .social__email {
        text-shadow: 0 3px 6px rgba(20, 20, 20, 0.2);
        padding-bottom: 51px;
        color: #94F8A4;
        font-style: italic;
        font-weight: 900; }
        .contact .contact-sections .social .social__email span {
          color: #354A57;
          color: #B94947; }
      .contact .contact-sections .social .social__icons {
        margin-top: 30px;
        max-width: 380px;
        display: flex;
        justify-content: space-between; }
        .contact .contact-sections .social .social__icons i {
          text-shadow: 0 3px 6px rgba(20, 20, 20, 0.2);
          color: #94F8A4;
          font-size: 2.5em;
          transition: all 0.3s ease-in-out; }
          .contact .contact-sections .social .social__icons i:hover {
            color: #354A57;
            transition: all 0.3s ease-in-out; }
          .contact .contact-sections .social .social__icons i:nth-of-type(2) {
            margin: 0 2em 0 2em; }

@media (max-width: 769px) {
  .contact {
    min-height: 70vh; }
    .contact .contact-sections {
      display: block;
      padding-top: 15vh; }
      .contact .contact-sections .general {
        text-align: center; }
        .contact .contact-sections .general .general__name {
          margin-bottom: 18px; }
        .contact .contact-sections .general .flex-mobile {
          display: flex;
          flex-direction: row nowrap;
          justify-content: center; }
        .contact .contact-sections .general .general__occ {
          margin-right: 30px;
          margin-bottom: 20px; }
        .contact .contact-sections .general .general__location {
          margin-left: 30px; }
      .contact .contact-sections .social {
        text-align: center; }
        .contact .contact-sections .social .social__title {
          padding: 0 0 0.6em;
          max-width: 100%; }
        .contact .contact-sections .social__email {
          padding-bottom: 0.6em; }
        .contact .contact-sections .social .social__icons {
          margin-left: auto;
          margin-right: auto;
          margin-bottom: 2em; }
          .contact .contact-sections .social .social__icons i {
            margin: 0 0.5em; } }

.sidebar {
  height: auto;
  width: auto;
  top: 50%;
  left: 1.5%;
  transform: translateY(-50%); }
  .sidebar .circle {
    position: relative;
    margin-top: 8px;
    border-color: #707070;
    border-radius: 50%;
    background: #373540;
    width: 12px;
    height: 12px;
    opacity: 0.8;
    filter: alpha(opacity=80); }

@media (max-width: 780px) {
  .sidebar {
    top: 8%;
    left: 91%;
    z-index: 3; }
    .sidebar .circle {
      display: inline-block; } }

.downarrow {
  left: 50%;
  bottom: -3.5%;
  transform: translate(-50%, -50%); }

.arrow-container {
  display: block;
  width: 100px;
  height: 100px; }
  .arrow-container:hover {
    cursor: pointer; }
    .arrow-container:hover .arrow {
      top: 50%; }
      .arrow-container:hover .arrow:before {
        transform: translate(-50%, -50%) rotateZ(-30deg); }
      .arrow-container:hover .arrow:after {
        transform: translate(-50%, -50%) rotateZ(30deg); }

.arrow {
  position: absolute;
  left: 50%;
  transition: all .4s ease; }
  .arrow:before, .arrow:after {
    transition: all .4s ease;
    content: '';
    display: block;
    position: absolute;
    transform-origin: bottom right;
    background: #fff;
    width: 4px;
    height: 25px;
    border-radius: 10px;
    transform: translate(-50%, -50%) rotateZ(-45deg); }
  .arrow:after {
    transform-origin: bottom left;
    transform: translate(-50%, -50%) rotateZ(45deg); }
  .arrow:nth-child(1) {
    opacity: 0.3;
    top: 35%; }
  .arrow:nth-child(2) {
    opacity: 0.6;
    top: 55%; }
  .arrow:nth-child(3) {
    opacity: 0.9;
    top: 75%; }

@media (max-width: 780px) {
  .arrow-container {
    display: none;
    opacity: 0;
    filter: alpha(opacity=0); } }

.nav {
  position: fixed;
  top: 0;
  left: 0;
  background: transparent;
  width: 100%;
  height: 3em;
  display: none; }
  .nav .nav__link {
    position: relative;
    z-index: 1;
    display: inline-flex;
    padding: 0.25em 10px 5px;
    margin: 0 1.125em;
    font-size: 1.3em;
    font-weight: 400;
    font-family: 'Montserrat';
    text-transform: uppercase;
    letter-spacing: 2px; }
    .nav .nav__link:before {
      content: '';
      position: absolute;
      width: 100%;
      height: 100%;
      left: 0;
      bottom: 0px;
      z-index: -1;
      will-change: width;
      transform: rotate(-2deg);
      transform-origin: left bottom; }
    .nav .nav__link:hover:before {
      width: 0; }
    .nav .nav__link:before {
      transition: width .15s ease-out; }
    .nav .nav__link:hover:before {
      transition-duration: .3s; }

@media (min-width: 781px) {
  .nav {
    display: flex;
    align-items: center;
    -ms-flex-align: center;
    z-index: 1; }
    .nav .nav__list {
      margin-right: 3em;
      display: flex;
      flex: 1 1;
      justify-content: flex-end; } }
