.main
  position: relative
  display: row
  min-height: 100vh
  background-color: hsla(20, 70%, 30, 0.72)
  background-color: #d18383
  padding-top: 14vh
  justify-content: center
  padding-bottom: 18vh
  text-align: center

.personal
  display: flex
  flex-flow: column wrap
  // flex: 0 1 auto
  padding-left: calc(100vw * 0.15)
  padding-right: calc(100vw * 0.15)
  justify-content: space-between
  .personal-info
    // order: 1
    max-width: 970px
    // display: flex
    // flex-flow: column wrap
    // flex-shrink: 10
    // flex-basis: 15em
    &__greeting
      color: $light-grey
      font-size: 3.5rem
      font-weight: bold
      padding-bottom: 50px
      line-height: 1
      display: inline-block
      margin-left: 15px
      margin-right: 15px
      font-family: 'Montserrat'
    .tags
      color: $main-metal
      &:nth-of-type(2)
        color: $main-metal
      &:nth-of-type(3)
        color: $main-metal
      font-weight: bold
      font-size: 48px
      font-family: 'Montserrat'

    &__n
      display: flex
      flex-flow: row wrap
      justify-content: center
      height: 60px
      align-items: center
      margin-bottom: 12px
      .n__main
        align-items: center
        font-size: 5rem
        color: $main-text
        font-weight: bold
        font-family: 'Montserrat'
      .n__name
        font-size: 2.2rem
        font-family: 'Montserrat'
        font-weight: 700
        display: flex
        color: $main-metal
        flex-flow: column wrap
        // align-items: center
        justify-content: space-between
        height: 52px
        text-align: left !important
    &__name
      color: $main-text
      // color: $main-metal
      text-decoration-line: underline
      line-height: 1.35
    &__occ
      color: $white-text
      // color: $white-pure
      line-height: 1.4
  .personal-info__bg
    // flex-basis: 70%
    // flex-shrink: 1
    // order: 3
    line-height: 1.25
    // max-width: 70%
    max-width: 65%
    color: darken($white-text, 6)
    color: $bg-3
    font-size: 1.38em
    margin: 0 auto
    margin-bottom: 25px

  .personal-img
    animation: fade-in-element 0.4s
    // order: 2
    flex-shrink: 0
    flex-basis: 10em
    // background-color: $main-red
    &__photo
      +size(300px, 300px)
      background: url('../../assets/img/profile.png') no-repeat
      background-position: -5px -150px
      background-position: center
      background-size: cover
      margin-top: 0px
      box-shadow: 0 3px 6px 2px rgba(0,0,0,0.16)
      +opacity(0.62)
      max-width: 100%
      margin: 0 auto

@media (max-width: 780px)
  .main
    padding: 0
    padding-top: 22vh
    padding-bottom: 12vh
    display: block
    text-align: center

    .personal
      display: block
      padding-left: calc(100vw * 0.04)
      padding-right: calc(100vw * 0.04)
      .personal-info
        &__occ
          padding-top: 7px
        &__bg
          padding-top: 12px

      & *
        margin-left: auto
        margin-right: auto
      .personal-img
        &__photo
          max-width: 80%
          margin-top: 51px

@media (min-width: 781px)
  .personal
    padding-left: calc(100vw * 0.05)
    padding-right: calc(100vw * 0.05)
