@import '../utils/hero'
.frame
  @media (max-width: 1200px)
    margin-left: calc(100vw * 0.05)
    margin-right: calc(100vw * 0.05)
  margin-left: 150px
  margin-right: 150px
  padding: 4em 5em
  background-color: #253540
  // background-image: $hero-pattern
  background: url('../assets/img/pat.svg')
  
.portfolio
  position: relative
  padding-top: 15vh
  padding-bottom: 15vh
  background: linear-gradient(to bottom, $main-metal 40%, $main-charcoal 90%)
  min-height: 100vh
  &__title
    font-size: 2rem
    color: $white-text
    text-align: center
    padding-bottom: 50px

.cards
  display: flex
  flex-wrap: wrap
  justify-content: space-evenly

  .card
    position: relative
    margin-top: 20px
    display: flex
    flex-flow: column nowrap
    justify-content: space-between
    background-position: center 2px !important
    background-repeat: no-repeat !important
    background-size: cover !important
    box-shadow: 0 3px 6px 6px rgba(20, 20, 20, 0.08)
    max-width: 300px
    height: 350px
    border-radius: 4px
    transition: all 0.2s ease-in-out

    &:hover
      border-radius: 8px
      transition: all 0.3s ease-in-out
      &:after
        border-radius: 8px
        transition: all 0.1s ease-in-out
        opacity: 0.8
        filter: blur(1px)

    &:after
      transition: all 0.2s ease-in-out
      content: ''
      position: absolute
      background: hsla(270, 80%, 25%, 1)
      background: #14191c
      opacity: 0.2
      left: 0
      right: 0
      top: 0
      bottom: 0
      z-index: -1

    .card__content
      padding: 1em 2em
      height: 100%
      width: 100%
      opacity: 0
      &:hover
        opacity: 1
    .card__icons
      text-align: center
      color: $main-red
      color: $white-pure
      .iconz
        font-size: 2em
      & *
        margin: 0 15px 10px
    .card__title
      padding-top: 1em
      padding-bottom: 1em
      color: $white-pure
      text-align: center
    .card__description
      font-size: 0.9em
      color: $light-grey
      height: 150px
    .card__btn
      background: $second-red
      color: $white-text
      text-transform: uppercase
      font-size: 0.9em
      font-family: 'Montserrat'
      &:hover
        background: #354A57
    .btns
      display: flex
      justify-content: space-between

    &:hover
      box-shadow: 0 6px 16px 19px rgba(20,20,20,0.2) 0 1px 0 6px rgba(0,0,0,0.16)
      transform: translateY(-4px)

@media (max-width: 780px)
  .portfolio
    padding-top: 0
    padding-bottom: 0
    .card
      background: #14191e
  .frame
    margin-left: 0
    margin-right: 0